{
  "env": {
    "es6": true,
    "mocha": true,
    "node": true
  },
  "extends": ["airbnb-base", "plugin:@typescript-eslint/recommended"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "global-require": 0,
    "import/extensions": [
      "error",
      "ignorePackages",{
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "import/no-dynamic-require": 0,
    "lines-between-class-members": 0,
    "max-classes-per-file": 0,
    "no-param-reassign": 0,
    "no-unused-expressions": 0,
    "one-var": 0,
    "one-var-declaration-per-line": 0,
    "@typescript-eslint/no-namespace": 0,
    "@typescript-eslint/no-var-requires": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
