{
  "all": true,
  "extension": [".js", ".jsx", ".ts", ".tsx"],
  "exclude": [
    "**/*.d.ts"
  ],
  "include": ["src"],
  "instrument": false,
  "reporter": ["html", "lcov", "text"],
  "require": ["ts-node/register"],
  "sourceMap": false
}
